.profile-card-5{
    margin-top:20%;
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 65%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:2px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
    color:#4E5E30;
    font-weight:600;
}
.profile-card-5 p{
    font-size:9px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
}
.container{
    flex-flow: row wrap;
    display: flex;
    justify-content: space-evenly;
}
body{
    background: #590e37;
    
}
.navbar{
    background: white;
    background-color:transparent;
}
.navbar-brand{
    background: white;
    color:#590e37;
}

.navbarTogglerDemo01{
    color: #590e37;
}
.card{
    height: 560px;
    width: 260px;

   
}

#root {
margin-top: 4%;

}



<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
